{% extends "base.html" %}

<!DOCTYPE HTML> 
<html>
    <head>
		{% block title %}{% endblock %}
	</head>

	<body>
		{% block content %}
		
        
        
        
        <div class="page-div">
            
            <div class="collapse navbar-collapse">
		      <nav id="nav" class="navbar navbar-default">
                <li id="navB">{% block nav-rsvp %} <a class="navButton" href="{% url 'rsvp' %}"> RSVP</a> {% endblock %}</li>
                <li>{% block nav-home %}<a href="{% url 'home' %}">HOME</a>{% endblock %}</li>
                <li>{% block nav-weddinginfo %}<a href="{% url 'wedding_info' %}"> WEDDING INFO</a>{% endblock %}</li>
                <li>{% block nav-registry %}<a href="{% url 'registry' %}">REGISTRY</a>{% endblock %}</li>
                <li>{% block nav-contact %}<a href="{% url 'contact' %}">CONTACT</a>{% endblock %}</li>
                <li> Yesenia & Jordan</li>
            </nav>
            </div>
            
        <div id="contact-page" class="home-div parallax" style="height:600px">
        	<div class="container">
        		<h1 class="homeh1"> Contact Us </h1>
                <p class="homep" style="color:#c4c4c4;"> Have more question? We are happy to help</p>
        	</div>
        </div>

        
        
        
        
        <div id="home-ourStory" class="home-div page-div">
            <div class="container-fluid" style="max-width: 1000px;">
               
                <div class="row" style="padding-top:40px; margin-top:40px;">
                    <div class="col-md-6">
                    <h3> Jordan's Info </h3>
                    <p class="homep"> Connect on Facebook or Twitter</p>
                    <p class="storyBlurb" style="line-height:27px;">
                        Cell Phone: (815) 541-3230 </br>
                    Email Address: jordancharlesweaver@gmail.com </br>
                Address: 661 Mendota Ct. Apt 1201, Madison WI, 53703 </br>
            Twitter name: @jcweaverart </br>
                    </p>
                    </div>
                    
                    <div class="col-md-6">
                    <h3>Yesi's Info </h3>
                    <p class="homep"> Connect on Facebook or Twitter</p>
                    <p class="storyBlurb" style="line-height:27px;">
                        Cell Phone: (574) 575-3290 </br>
                    Email Address: yyorellanasan@gmail.com </br>
                Address: 661 Mendota Ct. Apt 1201, Madison WI, 53703 </br>
            Facebook name: Yesenia Orellana </br>
                    </p>
                    </div>

                </div>
                
            </div>
        </div>

        
        <div class="home-div  footer">
            <p> Website developed by Jsquared Industries. Copyright 2017 &copy; </p>
    </div>

</div>
        
        
        
        
		{% endblock %}
	</body>
</html>