{% extends "base.html" %}

<!DOCTYPE HTML> 
<html>
    <head>
		{% block title %}{% endblock %}
	</head>

	<body>
		{% block content %}
        
        <div class="collapse navbar-collapse">
		<nav id="nav" class="navbar navbar-default">
                <li id="navB">{% block nav-rsvp %} <a class="navButton" href="{% url 'rsvp' %}"> RSVP</a> {% endblock %}</li>
                <li>{% block nav-home %}<a href="{% url 'home' %}">HOME</a>{% endblock %}</li>
                <li>{% block nav-weddinginfo %}<a href="{% url 'wedding_info' %}"> WEDDING INFO</a>{% endblock %}</li>
                <li>{% block nav-registry %}<a href="{% url 'registry' %}">REGISTRY</a>{% endblock %}</li>
                <li>{% block nav-contact %}<a href="{% url 'contact' %}">CONTACT</a>{% endblock %}</li>
                <li>Yesenia & Jordan</li>
        </nav>
        </div>

			{% load static %}

        <div id="home-RSVP" class="home-div parallax" style="height:800px">
        	<div class="container">
        		<h1 class="homeh1"> Yesenia & Jordan </h1>
                <p class="homep"> Aug 5, 2017, Wisconsin Dells, WI </p>
                <button> <a href="{% url 'rsvp' %}">RSVP</a></button>
        	</div>
        </div>


        <div id="home-ourStory" class="home-div page-div">
            <div class="container-fluid">
                <h2 class="homeh2">Please join us on August 5th as we celebrate our wedding in the Dells.</h2>
                <p class="homep"> PHOTOGRAPHY BY MOANA</p>
                   
                    <div class="row">
                        <div class="col-md-4"> 
                            <div id="firstStory" class="storyImage"></div>
                            <h3>Jordan's Story</h3>
                            <p class="storyBlurb"> As a child I went to a small country public school. I loved playing imaginary games and outdoors shenanigans while exploring my little town of Lanark. Growing up I started my education and travel adventures as I  went to Goshen College. Now, I am a happy Web Developer at the lovely "TeeLee Popcorn"!  </p>
                        </div>
                        
                        <div class="col-md-4">
                            <div id="secondStory" class="storyImage" style="background-position: 50% 40%;"></div>
                            <h3>Yesi's Story</h3>
                            <p class="storyBlurb">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander warf um ein Musterbuch zu erstellen.</p>
                        </div>
                        
                        <div class="col-md-4">
                            <div id="thirdStory" class="storyImage"></div>
                            <h3>Our Story</h3>
                            <p class="storyBlurb">Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander warf um ein Musterbuch zu erstellen.</p>
                        </div>

                    </div> 
                
            </div>
        </div>

        
        
         <div id="home-arrive" class="home-div parallax non-main">
            <h1 class="homeh1"> Arrival </h1>
            <p class="homep"> August, 05, 2017 </p>
        </div>


        <div id="home-schedule" class="home-div">
            <div class="container-fluid" style="max-width:960px;">
                <div class="row">
                    <div class="col-md-4">
                    <h3>Ceremony Start</h3>
                    <p class="homep"> 3:30pm </p>
                    <p class="storyBlurb">
                        Trappers Turn</br>2955 Wisconsin Dells Pkwy</br>Wisconsin Dells, WI 53965</br> Phone: (608) 253-7000
                    </p>
                    </div>
                    
                    <div class="col-md-4">
                    <h3>Dinner Party</h3>
                    <p class="homep"> 5:30pm </p>
                    <p class="storyBlurb">
                        Trappers Turn</br>2955 Wisconsin Dells Pkwy</br>Wisconsin Dells, WI 53965</br> Phone: (608) 253-7000
                    </p>
                    </div>
                    
                    <div class="col-md-4">
                    <h3>Recception</h3>
                        <p class="homep"> 7:00pm </p>
                        <p class="storyBlurb">
                            Trappers Turn</br>2955 Wisconsin Dells Pkwy</br>Wisconsin Dells, WI 53965</br> Phone: (608) 253-7000
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div id="home-contact" class="home-div parallax non-main">
            <h1 class="homeh1"> Want more info?</h1>
           <button><a href="{% url 'contact' %}">Contact Us</a></button>
        </div>

        <div class="home-div  footer">
            <p> Website developed by Jsquared Industries. Copyright 2017 &copy; </p>
    </div>
		
			<script src="{% static 'app.js' %}"></script>
		{% endblock %}
	</body>
</html>