{% extends "base.html" %}

{% block title %}Thanks for the RSVP!{% endblock %}

{% block content %}
     <p>Shit about our wedding. When, where, who, how.</p><br/><br/>
	<p>Hotel Information:<br/><strong>Holiday Inn Express & Suites.</strong><br/>109.99 a night for a Double Queen Room, 104.99 a night for a King Room.<br/></p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5969.828058476856!2d-85.81396944663221!3d41.571105211424786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdf7de3417f86b4c4!2sHoliday+Inn+Express+%26+Suites+Goshen!5e0!3m2!1sen!2sus!4v1486083251020" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	
{% endblock %}