{% extends "base.html" %}

<!DOCTYPE HTML> 
<html>
    <head>
		{% block title %}{% endblock %}
	</head>
	
	<body>
		{% block content %}
		
       
        <div class="page-div">
            
            <div class="collapse navbar-collapse">
		      <nav id="nav" class="navbar navbar-default">
                <li id="navB">{% block nav-rsvp %} <a class="navButton" href="{% url 'rsvp' %}"> RSVP</a> {% endblock %}</li>
                <li>{% block nav-home %}<a href="{% url 'home' %}">HOME</a>{% endblock %}</li>
                <li>{% block nav-weddinginfo %}<a href="{% url 'wedding_info' %}"> WEDDING INFO</a>{% endblock %}</li>
                <li>{% block nav-registry %}<a href="{% url 'registry' %}">REGISTRY</a>{% endblock %}</li>
                <li>{% block nav-contact %}<a href="{% url 'contact' %}">CONTACT</a>{% endblock %}</li>
                <li> Yesenia & Jordan </li>
            </nav>
            </div>
            
			{% if rsvp == True %}
				<p>Thanks for the RSVP! Here's some information about the wedding.</p>
			{% endif %}
            
            
            <div id="wedding-info-page" class="home-div parallax" style="height:600px">
        	<div class="container">
        		<h1 class="homeh1"> Our Wedding Location </h1>
                <p class="homep"> Trappers Turn Golf Club </p>
        	</div>
        </div>


        <div id="home-ourStory" class="home-div page-div">
            <div class="container-fluid">
                <h2 class="homeh2">Directions</h2>
                <p class="descriptionP">Hotel Information is provided below for your convenience. We have a couple hotels to choose from but there are many more available. If you choose to stay at another hotel location feel free to let us know. </p>
                   
               <!-- <iframe src="https://www.google.com/maps/d/u/0/embed?mid=12KefaevJp3EnEOxCzFzUjjfMck8" width="70%" height="400"></iframe> -->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.7124804989685!2d-89.79970688439889!3d43.633342861732245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880748b3593a32a1%3A0x78a6bd7e029f2757!2sTrappers+Turn+Golf+Club!5e0!3m2!1sen!2sus!4v1491498639814"  width="70%" height="400"></iframe>
                
                    <div class="row" style="padding-top:20px;">
                    <div class="container-fluid" style="width:900px;">
                        <div class="col-md-6"> 
                            
                            <h3 style="color:#FBC676">Holiday Inn Express & Suites</h3>
                            <p class="storyBlurb">109.99 a night for a Double Queen Room, 104.99 a night for a King Room. </br> Distance from wedding site: ???</p>
                        </div>
                        
                        <div class="col-md-6">
                           
                            <h3 style="color:#FBC676">Hampton Inn</h3>
                            <p class="storyBlurb">104.99 a night for either a Double Queen Room or a King Room. </br> Distance from wedding site: ???</p>
                        </div>
                    </div>
                    </div> 
                
            </div>
        </div>

        
        
         <div id="what-to-do" class="home-div parallax non-main">
            <div class="container-fluid" style="text-align:center;">
            <h1 class="homeh1"> Things to Do </h1>
            <p class="homep"> Activities in the Wisconsin Dells </p>
             </div>
        </div>


        <div id="home-schedule" class="home-div">
            <div class="container-fluid" style="max-width:1100px;">
                <div class="row">
                    <p class="descriptionP">We wanted to pick a location that was both beautiful, and had plenty to do. Think of this as a fun little getaway with plenty of waterparks, zoo activities, restraunts, bars, tourist activities, and much much more. Enjoy the array of things to do, all within a 10 mile radius of your hotel!</p>
                    <p class="storyBlurb">
                        Source: <a href="https://en.wikipedia.org/wiki/Wisconsin_Dells,_Wisconsin" style="text-decoration:none; color:#fbc676;">Wikipedia</a>
                    </p>
                </div>
                    
                
                <div class="row">
                    <div class="col-md-4">
                    <h3> Food & Drink </h3>
                    <p class="homep"> Bars, Cafes, Restaurants </p>
                    <p class="storyBlurb" style="line-height:27px;">
                        Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander warf um ein Musterbuch zu erstellen.
                    </p>
                    </div>
                    
                    <div class="col-md-4">
                    <h3>Activities</h3>
                    <p class="homep"> Paid activities, fun for kids</p>
                    <p class="storyBlurb" style="line-height:27px;">
                        Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander warf um ein Musterbuch zu erstellen.
                    </p>
                    </div>
                    
                    <div class="col-md-4">
                    <h3>Explore</h3>
                        <p class="homep"> Museums, landmarks, hiking</p>
                       <p class="storyBlurb" style="line-height:27px;">
                            Lorem Ipsum ist ein einfacher Demo-Text für die Print- und Schriftindustrie. Lorem Ipsum ist in der Industrie bereits der Standard Demo-Text seit 1500, als ein unbekannter Schriftsteller eine Hand voll Wörter nahm und diese durcheinander warf um ein Musterbuch zu erstellen.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="home-div  footer">
            <p> Website developed by Jsquared Industries. Copyright 2017 &copy; </p>
        </div>

		</div>
		{% endblock %}
	</body>
</html>